<!DOCTYPE html>
<html>
	<head>
		<title>Tech University</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<%= render 'layouts/navigation' %>
		<%#= link_to 'home', root_path %>
		<%#= link_to 'about', about_path %>
		<%#= link_to 'new course', courses_new_path %>

		<main>
			<div class="container">
				<%= yield %>
			</div>
		</main>

		<%= render 'layouts/footer' %>
	</body>
</html>
